<%= stylesheet_link_tag '/stylesheets/videos' %>
</head>

<body>
  <%=render 'header' %>
  <h2 class="ui center aligned icon header">
    <i class="edit outline circular icon"></i>
    <div class="content">
      Video Log
      <div class="sub header">Use this form to enter data for videos</div>
    </div>
  </h2>

  <div class="ui  container">

    <form action="/videos" method="POST" class="ui form" style="margin:0">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <h4 class="ui dividing header">Video Information</h4>
      <div class=" two required fields">
        <div class="field">
          <label>Video Link</label>
          <input type="text" name="video[link]">
        </div>
        <div class="field">
          <label>Author/Presenter</label>
          <%= select("post", "professors", professors.sort, {include_hidden: false,include_blank: true },{:id => 'presenter', :multiple => false, :class => 'ui fluid search dropdown',:name => "video[presenter]"})%>
        </div>
      </div>


      <div class="field" id="timekeyword">
        <label id="keywordLabel" data-keywords="<%=keywordNames%>">Segment Start Time/Keywords</label>
        <div class="ui action input">
          <input type="text" placeholder="Ex: 08:23" name="video[segments[]][cut]">
          <%= select("post", "keywords", keywordNames, {include_hidden: false },{:id => 'keywords', :multiple => true, :class => 'ui fluid search dropdown',:name => "video[segments[]][keywords][]"})%>
          <div class="ui positive button" id="addField">Add</div>
        </div>
      </div>




      <h4 class="ui dividing header">Subject Information</h4>
      <div class="two required fields">
        <div class="field">
          <label>Current Book Section</label>
          <input type="text" name="video[section]">
        </div>
        <div class="field">
          <label>Title</label>
          <input type="text" name="video[topic]">
        </div>
      </div>
      <div class="field">
        <label>Possible Course to use</label>
        <%= select("post", "courses", courses, {include_hidden: false },{:id => 'courses', :multiple => true, :class => 'ui fluid search dropdown',:name => "video[courses][]"})%>
      </div>

      <div class="field">
        <label>Description</label>
        <textarea name="video[description]" rows="3"></textarea>
      </div>

      <h4 class="ui dividing header">Additional Resources</h4>

      <div class="ui center aligned container field" id="addResourceContainer">
        <div class="ui green button" id="addResourceButton"><i class="plus icon"></i>Add New Resource</div>
      </div>
      <h4 class="ui dividing header"></h4>

      <div class=" ui center aligned container">
        <button style="color: white; margin: 20px 0 20px 0" class="ui huge submit blue button">Create</button>
      </div>

    </form>

  </div>

  <%=render 'footer' %>