<%= stylesheet_link_tag '/stylesheets/videos' %>
</head>
<body>
<%=render 'header' %>
<h2 class="ui center aligned icon header">
  <i class="edit outline circular icon"></i>
  <div class="content">
   Edit Video
    <div class="sub header">You can edit videos on this page</div>
  </div>
</h2>
<div class="ui container">

  <%= form_for @video, url: {action: "update"}, html: {class: "ui form"} do |f| %>
    <h4 class="ui dividing header">Video Information</h4>
    <div class=" two required fields">
      <div class="field">
        <label>Video Link</label>
        <input type="text" name="video[link]" value="<%=@video.link%>">
      </div>
      <div class="field">
        <label>Author/Presenter</label>
        <%= select("post", "professors", professors.sort, {include_hidden: false,include_blank: true },{:id => 'presenter', :multiple => false, :class => 'ui fluid search dropdown',:name => "video[presenter]"})%>
      </div>
    </div>
    <div class=" field">
      <label id="cuts-label" data-cuts='<%=@video.cuts %>' >Video Needs to be cut at:</label>
      <select class="ui fluid search dropdown cuts" id="cuts" multiple="" name = "video[cuts][]" multiple>
        <option value="">Cut Times will appear here</option>
      </select>
    </div>
    <div class="field">
      <label>Enter time here:</label>
      <span class="ui action input">
           <input type="text" placeholder="Search..." id="input-cut">
           <a class="ui green button" id="enter-cut">Enter</a>
         </span>
    </div>

    <h4 class="ui dividing header">Subject Information</h4>
    <div class="two required fields">
      <div class="field">
        <label f>Current Book Section</label>
        <input type="text" name="video[section]" value="<%=@video.section%>">
      </div>
      <div class="field">
        <label>Topic</label>
        <select class="ui search selection dropdown" name="video[topic]" value="topic">
          <option value="">Type Topic Name</option>
          <option value="Algebra" selected>Algebra</option>
          <option value="Calculus Analysis">Calculus Analysis</option>
        </select>
      </div>
    </div>
    <div class="field">
      <label id="courses-label" data-courses='<%=@video.courses %>'>Possible Course to use</label>
      <%= select("post", "courses", courses, {include_hidden: false },{:id => 'courses', :multiple => true, :class => 'ui fluid search dropdown',:name => "video[courses][]"})%>
    </div>
<!--    <input type="hidden" name="video[keywords][]" />-->
    <div class="field">
      <label id="keywords-label" data-keywords='<%=@video.keywords %>'>Keywords</label>
      <%= select("post", "keywords", keywordNames, {include_hidden: false },{:id => 'keywords', :multiple => true, :class => 'ui fluid search dropdown',:name => "video[keywords][]"})%>
    </div>

<h1><%=@video.voice %></h1>
    <h4 class="ui dividing header">Video Production and Quality</h4>

    <div class="ui accordion">
      <div class="title">
        <i class=" dropdown icon"></i>
        Sound Quality
      </div>
      <div class="content">
        <div class="required grouped fields">
          <label>Speaker's voice is clear.</label>
          <%= choices3 "voice", @video.voice %>
        </div>
        <div class="grouped fields">
          <label>There is no background noise.</label>
          <%= choices3 "noise", @video.noise %>
        </div>
        <div class="grouped fields">
          <label>Speaker's voice volume is appropriate.</label>
          <%= choices3 "volume", @video.volume %>
        </div>
        <div class="grouped fields">
          <label>Any enhancements (i.e. music, special sounds) are clear and not distracting.</label>
          <%= choices3 "enhacements", @video.enhacements %>
        </div>
      </div>
      <div class="title">
        <i class="dropdown icon"></i>
        Video Quality
      </div>
      <div class=" content">
        <div class="grouped fields">
          <label>Overall video moves smoothly and seamlessly from shot to shot. (e.g., writing on a SmartSympodium is smooth and doesn't just appear in a chuck.  You see the writing develop over time.)</label>
          <%= choices3 "overallSmooth", @video.overallSmooth %>
        </div>
        <div class="grouped fields">
          <label>Any transitions that are used in the video are smooth and not distracting. (fade-in or fade-out is okay, transition from one video clip to next.)</label>
          <%= choices3 "transition", @video.transition %>
        </div>

        <div class="grouped fields">
          <label>The video is sharp, clear, and in focus.</label>
          <%= choices3 "sharpFocus", @video.sharpFocus %>
        </div>
        <div class="grouped fields">
          <label>Digital effects are used appropriately for emphasis.  (e.g., added features like special effects, graphics. enhace for engagement/entertainment.)</label>
          <%= choices3 "effects", @video.effects %>
        </div>

      </div>

      <div class="title">
        <i class="dropdown icon"></i>
        Cognitive Load
      </div>
      <div class="content">
        <div class="grouped fields">
          <label>Uses on-screen text or symbols to highlight important information. (e.g., change in color contrast highlighting information, arrow appears on screen to draw attention to region of screen.)</label>
          <%= choices3 "symbol", @video.symbol %>
        </div>
        <div class="grouped fields">
          <label>Extraneous information is minimized. (i.e., Information delivered via the video is synthesized and to the point. Instructor stays on topic and does not ramble on tangents not relelvant to the informaiton in the video. Music or other auditory/visual aspects have meaning and are not randomly inserted.)</label>
          <%= choices3 "informationMinimized", @video.informationMinimized %>
        </div>
        <div class="grouped fields">
          <label>Uses both auditory and visual channels to convey information. (e.g., while showing a picture or animation, the instructor also gives a verbal explanation of the visual.)</label>
          <%= choices3 "conveyMessage", @video.conveyMessage %>
        </div>
      </div>

      <div class="title">
        <i class="dropdown icon"></i>
        Content Quality
      </div>
      <div class="content">
        <div class="grouped fields">
          <label>Wording is accurate.</label>
          <%= choices3 "wordingAccurate", @video.wordingAccurate %>
        </div>
        <div class="grouped fields">
          <label>Wording is appropriate. (e.g., doesn't contain slang, not offensive, professional.)</label>
          <%= choices3 "wordingAppropriate", @video.wordingAppropriate %>
        </div>
        <div class="grouped fields">
          <label>All the content in the video is accurate and contains no errors.</label>
          <%= choices3 "contentAccurate", @video.contentAccurate %>
        </div>
      </div>

      <div class="title">
        <i class="dropdown icon"></i>
        Content Organization/Preparation
      </div>
      <div class="content">
        <div class="grouped fields">
          <label>Content is organized and flows well.</label>
          <%= choices3 "contentOrganized", @video.contentOrganized %>
        </div>
        <div class="grouped fields">
          <label>There are no irrelevant/extraneous references to any other content (i.e., other videos, textbook references, specific exercises, mention of upcoming assignments, etc.)</label>
          <%= choices3  "contentRelevant", @video.contentRelevant %>
        </div>
        <div class="grouped fields">
          <label>There is no sequencing/numbering in the video that would prevent the video from being resequenced within a set of videos.</label>
          <%= choices3 "sequencing", @video.sequencing %>
        </div>
        <div class="grouped fields">
          <label>The video does not reference any weblinks.</label>
          <%= choices3 "weblinks", @video.weblinks %>
        </div>
      </div>

      <div class="title">
        <i class="dropdown icon"></i>
        Quality of Visuals
      </div>
      <div class="content">
        <div class="grouped fields">
          <label>All graphics, video, audio, 3-D, or other enhancements are used effectively to enrich the learning experience.</label>
          <%= choices3 "graphicsEffective", @video.graphicsEffective %>
        </div>
        <div class="grouped fields">
          <label>Images/graphics are not distracting.</label>
          <%= choices3 "graphicsDistraction", @video.graphicsDistraction %>
        </div>
        <div class="grouped fields">
          <label>Images are high quality (e.g., resolution, ratio aspect, etc.)</label>
          <%= choices3 "graphicsQuality", @video.graphicsQuality %>
        </div>
        <div class="grouped fields">
          <label>Colors used in images/graphics are appropriate.</label>
          <%= choices3 "graphicsAppropriate", @video.graphicsAppropriate %>
        </div>
        <div class="grouped fields">
          <label>Text size (typed, handwritten) is appropriate.</label>
          <%= choices3 "textAppropriate", @video.textAppropriate %>
        </div>
        <div class="grouped fields">
          <label>Text/font style is consistent.</label>
          <%= choices3 "textConsistent", @video.textConsistent %>
        </div>
        <div class="grouped fields">
          <label>Amount of text on the slides is appropriate.</label>
          <%= choices3 "textAmount", @video.textAmount %>
        </div>
        <div class="grouped fields">
          <label>Background is clean/consistent and not distracting.</label>
          <%= choices3 "background", @video.background %>
        </div>
      </div>

      <div class="title">
        <i class="dropdown icon"></i>
        Level of Engagement
      </div>
      <div class="content">
        <div class="grouped fields">
          <label>The video has interactive questions or features embedded that require the student to answer during the video.  (e.g., instructor asks a question and student pauses video to formulate answer to question.)</label>
          <%= choices3 "interactive", @video.interactive %>
        </div>
        <div class="grouped fields">
          <label>The video allows students to control movement of the video (i.e., skip ahead, go to different chapter)</label>
          <%= choices3 "studentControl", @video.studentControl %>
        </div>
      </div>

      <div class="title">
        <i class="dropdown icon"></i>
        Overall Presentation
      </div>
      <div class="content">
        <div class="grouped fields">
          <label>The presenter is shown (as a talking head) at some point during the video.  </label>
          <%= choices3 "shownPresenter", @video.shownPresenter %>
        </div>
        <div class="grouped fields">
          <label>The video is between 6-10 minutes long or can be broken into videos of 6-10 minutes.</label>
          <%= choices3 "videoLength", @video.videoLength %>
        </div>
        <div class="grouped fields">
          <label>The video has a personal feel to it.  The presenter comes across as talking to the viewer and not a general audience.</label>
          <%= choices3 "personal", @video.personal %>
        </div>
        <div class="grouped fields">
          <label>The video contains some "moving" parts to it.  (i.e., it is not a slide presentation with a voice over). </label>
          <%= choices3 "moving", @video.moving %>
        </div>
        <div class="grouped fields">
          <label>The speaker is engaging and keeps the viewers attention (i.e., not monotone and uses voice inflection appropriately)</label>
          <%= choices3 "engaging", @video.engaging %>
        </div>
        <div class="grouped fields">
          <label>The speaker talks at a normal conversational pace (e.g., does not purposefully slow down).</label>
          <%= choices3 "normalPace", @video.normalPace %>
        </div>
        <div class="grouped fields">
          <label>The speaker enunciates well.</label>
          <%= choices3 "enunciation", @video.enunciation %>
        </div>
      </div>

      <div class="title">
        <i class="dropdown icon"></i>
        Which best describe the type of video
      </div>
      <div class="content">
        <div class="grouped fields">
          <label>Problem video</label>
          <%= choices4 "problem", @video.problem %>
        </div>
        <div class="grouped fields">
          <label>Lecture</label>
          <%= choices4 "lecture", @video.lecture %>
        </div>
        <div class="grouped fields">
          <label>Review</label>
          <%= choices4 "review", @video.review %>
        </div>
        <div class="grouped fields">
          <label>Explaining a Concept</label>
          <%= choices4 "concept", @video.concept %>
        </div>
        <div class="grouped fields">
          <label>Supplementary</label>
          <%= choices4 "supplementary", @video.supplementary %>
        </div>
      </div>

      <div class="title">
        <i class="dropdown icon"></i>
        The video also requires
      </div>
      <div class="content">
        <div class="grouped fields">
          <label>the student to print out a document to follow along.</label>
          <%= choices4 "print", @video.print %>
        </div>
        <div class="grouped fields">
          <label>the student to view an external website.</label>
          <%= choices4 "view", @video.view %>
        </div>
        <div class="grouped fields">
          <label>the student to use additional software.</label>
          <%= choices4 "use", @video.use%>
        </div>
      </div>
    </div>




    <div class="ui big buttons" style="margin: 20px 0 20px 0">
      <button style="color: white; "class="ui big submit grey-bg button">Save</button>
      <div class="or"></div>
      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/videos/<%=@video.id%>"><button class="ui negative button">Delete</button></a>
    </div>

  <% end %>

</div>



<%#= form_for @video, url: {action: "update"}, html: {class: "ui form"} do |f| %>
  <%#= f.text_field :link %>
  <%#= f.text_area :presenter, size: "60x12", @video. %>
  <%#= f.submit "Create", @video. %>
<%# end %>


