<%= stylesheet_link_tag '/stylesheets/videos' %>
</head>
<body>
<%=render 'header' %>
<h2 class="ui center aligned icon header">
  <i class="edit outline circular icon"></i>
  <div class="content">
   Edit Video
    <div class="sub header">You can edit videos on this page</div>
  </div>
</h2>

<div class="ui container">
  <%= form_for @video, url: {action: "update"}, html: {class: "ui form"} do |f| %>
    <h4 class="ui dividing header">Video Information</h4>
    <div class=" two required fields">
      <div class="field">
        <label>Video Link</label>
        <input type="text" name="video[link]" value="<%=@video.link%>">
      </div>
      <div class="field">
        <label id="presenter-label" data-presenter ="<%=@video.presenter%>" >Author/Presenter</label>
        <%= select("post", "professors", professors.sort, {include_hidden: false,include_blank: true },{:id => 'presenter', :multiple => false, :class => 'ui fluid search dropdown',:name => "video[presenter]"})%>
      </div>
    </div>
    <div class="field" id="timekeyword">
      <label>Segment Start Time/Keywords</label>
      <%counter = 1 %>
        <% @video.segments.each do |segment|  %>
        <div class="field">
          <div class="ui action input">
            <input class="cut-input" data-cut="<%=segment[:cut].tr(':','')%>" data-keywords="<%=segment[:keywords]%>" type="text" value="<%=segment[:cut] %>" name="video[segments[]][cut]">
            <% if counter == 1 %>
              <%= select("post", "keywords", keywordNames, {include_hidden: false },{:id => 'keywords', :multiple => true, :class => 'ui fluid search dropdown '+segment[:cut].tr(':','') ,:name => "video[segments[]][keywords][]"})%>
              <div class="ui positive button" id="addField">Add</div>
              <% counter = 2 %>
              <% else %>
              <%= select("post", "keywords", keywordNames, {include_hidden: false },{:id => segment[:cut], :multiple => true, :class => 'ui fluid search dropdown '+segment[:cut].tr(':','') ,:name => "video[segments[]][keywords][]"})%>
          <% end %>
          </div>
        </div>
        <% end %>
    </div>

    <h4 class="ui dividing header">Subject Information</h4>
    <div class="two required fields">
      <div class="field">
        <label>Current Book Section</label>
        <input type="text" name="video[section]" value="<%=@video.section%>">
      </div>
      <div class="field">
        <label >Title</label>
        <input type="text" name="video[topic]" value="<%=@video.topic%>">
      </div>
    </div>
    <div class="field">
      <label>Description</label>
      <textarea name="video[description]" rows="3"><%=@video.description%></textarea>
    </div>
    <div class="field">
      <label id="courses-label" data-courses='<%=@video.courses %>'>Possible Course to use</label>
      <%= select("post", "courses", courses, {include_hidden: false },{:id => 'courses', :multiple => true, :class => 'ui fluid search dropdown',:name => "video[courses][]"})%>
    </div>
    <div class="ui center aligned container">
      <button class="ui basic blue huge submit  button" style="margin: 20px 0 20px 0;color: white">Save Video Information</button>

    </div>
<!--      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/videos/<%#=@video.id%>"><button class="ui negative button">Delete</button></a>-->

  <% end %>

    <h4 class="ui dividing header">Video Production and Quality</h4>

    <div class="ui top attached tabular menu">
      <% counter = 1 %>
      <% @video.rubrics.each do |rubric| %>
        <% if counter == 1 %>
            <a class="item active" data-tab="<%=rubric.author%>"><%=rubric.author%>'s Rubric</a>
            <% counter = 2 %>
        <%else %>
            <a class="item" data-tab="<%=rubric.author%>"><%=rubric.author%>'s Rubric</a>
        <% end %>
      <% end %>
      <% counter = 1 %>
      <a class="item" id="addReview"><i class="green plus icon"></i>Add Review</a>
    </div>
    <% @video.rubrics.each do |rubric| %>
          <% if counter == 1 %>
              <div class="ui bottom attached tab segment active " data-tab="<%=rubric.author%>">
              <% counter = 2 %>
          <%else %>
              <div class="ui bottom attached tab segment" data-tab="<%=rubric.author%>">
          <% end %>
    <form action="/rubric/update/<%=rubric.id %>" method="POST" class="ui form" style="margin:0" id="<%=rubric.author %>">
      <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
        <div class="ui accordion">
              <div class="title">
                <i class=" dropdown icon"></i>
                Sound Quality
              </div>
              <div class="ui center aligned  content">
                <div class="required grouped fields">
                  <label>Speaker's voice is clear.</label>
                  <%= choices3 "voice", rubric.voice %>
                </div>
                <div class="grouped fields">
                  <label>There is no background noise.</label>
                  <%= choices3 "noise", rubric.noise %>
                </div>
                <div class="grouped fields">
                  <label>Speaker's voice volume is appropriate.</label>
                  <%= choices3 "volume", rubric.volume %>
                </div>
                <div class="grouped fields">
                  <label>Any enhancements (i.e. music, special sounds) are clear and not distracting.</label>
                  <%= choices3 "enhacements", rubric.enhacements %>
                </div>
              </div>
              <div class="title">
                <i class="dropdown icon"></i>
                Video Quality
              </div>
              <div class=" content">
                <div class="grouped fields">
                  <label>Overall video moves smoothly and seamlessly from shot to shot. (e.g., writing on a SmartSympodium is smooth and doesn't just appear in a chuck.  You see the writing develop over time.)</label>
                  <%= choices3 "overallSmooth", rubric.overallSmooth %>
                </div>
                <div class="grouped fields">
                  <label>Any transitions that are used in the video are smooth and not distracting. (fade-in or fade-out is okay, transition from one video clip to next.)</label>
                  <%= choices3 "transition", rubric.transition %>
                </div>

                <div class="grouped fields">
                  <label>The video is sharp, clear, and in focus.</label>
                  <%= choices3 "sharpFocus", rubric.sharpFocus %>
                </div>
                <div class="grouped fields">
                  <label>Digital effects are used appropriately for emphasis.  (e.g., added features like special effects, graphics. enhace for engagement/entertainment.)</label>
                  <%= choices3 "effects", rubric.effects %>
                </div>

              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                Cognitive Load
              </div>
              <div class="content">
                <div class="grouped fields">
                  <label>Uses on-screen text or symbols to highlight important information. (e.g., change in color contrast highlighting information, arrow appears on screen to draw attention to region of screen.)</label>
                  <%= choices3 "symbol", rubric.symbol %>
                </div>
                <div class="grouped fields">
                  <label>Extraneous information is minimized. (i.e., Information delivered via the video is synthesized and to the point. Instructor stays on topic and does not ramble on tangents not relelvant to the informaiton in the video. Music or other auditory/visual aspects have meaning and are not randomly inserted.)</label>
                  <%= choices3 "informationMinimized", rubric.informationMinimized %>
                </div>
                <div class="grouped fields">
                  <label>Uses both auditory and visual channels to convey information. (e.g., while showing a picture or animation, the instructor also gives a verbal explanation of the visual.)</label>
                  <%= choices3 "conveyMessage", rubric.conveyMessage %>
                </div>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                Content Quality
              </div>
              <div class="content">
                <div class="grouped fields">
                  <label>Wording is accurate.</label>
                  <%= choices3 "wordingAccurate", rubric.wordingAccurate %>
                </div>
                <div class="grouped fields">
                  <label>Wording is appropriate. (e.g., doesn't contain slang, not offensive, professional.)</label>
                  <%= choices3 "wordingAppropriate", rubric.wordingAppropriate %>
                </div>
                <div class="grouped fields">
                  <label>All the content in the video is accurate and contains no errors.</label>
                  <%= choices3 "contentAccurate", rubric.contentAccurate %>
                </div>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                Content Organization/Preparation
              </div>
              <div class="content">
                <div class="grouped fields">
                  <label>Content is organized and flows well.</label>
                  <%= choices3 "contentOrganized", rubric.contentOrganized %>
                </div>
                <div class="grouped fields">
                  <label>There are no irrelevant/extraneous references to any other content (i.e., other videos, textbook references, specific exercises, mention of upcoming assignments, etc.)</label>
                  <%= choices3  "contentRelevant", rubric.contentRelevant %>
                </div>
                <div class="grouped fields">
                  <label>There is no sequencing/numbering in the video that would prevent the video from being resequenced within a set of videos.</label>
                  <%= choices3 "sequencing", rubric.sequencing %>
                </div>
                <div class="grouped fields">
                  <label>The video does not reference any weblinks.</label>
                  <%= choices3 "weblinks", rubric.weblinks %>
                </div>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                Quality of Visuals
              </div>
              <div class="content">
                <div class="grouped fields">
                  <label>All graphics, video, audio, 3-D, or other enhancements are used effectively to enrich the learning experience.</label>
                  <%= choices3 "graphicsEffective", rubric.graphicsEffective %>
                </div>
                <div class="grouped fields">
                  <label>Images/graphics are not distracting.</label>
                  <%= choices3 "graphicsDistraction", rubric.graphicsDistraction %>
                </div>
                <div class="grouped fields">
                  <label>Images are high quality (e.g., resolution, ratio aspect, etc.)</label>
                  <%= choices3 "graphicsQuality", rubric.graphicsQuality %>
                </div>
<!--                <div class="grouped fields">-->
<!--                  <label>Colors used in images/graphics are appropriate.</label>-->
                  <%#= choices3 "graphicsAppropriate", rubric.graphicsAppropriate %>
<!--                </div>-->
                <div class="grouped fields">
                  <label>Text size (typed, handwritten) is appropriate.</label>
                  <%= choices3 "textAppropriate", rubric.textAppropriate %>
                </div>
                <div class="grouped fields">
                  <label>Text/font style is consistent.</label>
                  <%= choices3 "textConsistent", rubric.textConsistent %>
                </div>
                <div class="grouped fields">
                  <label>Amount of text on the slides is appropriate.</label>
                  <%= choices3 "textAmount", rubric.textAmount %>
                </div>
                <div class="grouped fields">
                  <label>Background is clean/consistent and not distracting.</label>
                  <%= choices3 "background", rubric.background %>
                </div>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                Level of Engagement
              </div>
              <div class="content">
                <div class="grouped fields">
                  <label>The video has interactive questions or features embedded that require the student to answer during the video.  (e.g., instructor asks a question and student pauses video to formulate answer to question.)</label>
                  <%= choices3 "interactive", rubric.interactive %>
                </div>
                <div class="grouped fields">
                  <label>The video allows students to control movement of the video (i.e., skip ahead, go to different chapter)</label>
                  <%= choices3 "studentControl", rubric.studentControl %>
                </div>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                Overall Presentation
              </div>
              <div class="content">
                <div class="grouped fields">
                  <label>The presenter is shown (as a talking head) at some point during the video.  </label>
                  <%= choices3 "shownPresenter", rubric.shownPresenter %>
                </div>
                <div class="grouped fields">
                  <label>The video can be broken into videos less than 10 minutes in length.  (If video is already less than 10 minutes record N/A).  Please note the timestamps where the video can be cut when possible.</label>
                  <%= choices3 "videoLength", rubric.videoLength %>
                </div>
                <div class="grouped fields">
                  <label>The presenter comes across as talking to the viewer and not a general audience.  (e.g., a video that is a recording of a "live" class lecture is not personal because the audience is an actual class)</label>
                  <%= choices3 "personal", rubric.personal %>
                </div>
                <div class="grouped fields">
                  <label>The video contains some "moving" parts to it.  (i.e., it is not a slide presentation with a voice over). </label>
                  <%= choices3 "moving", rubric.moving %>
                </div>
                <div class="grouped fields">
                  <label>The speaker is engaging and keeps the viewers attention (i.e., not monotone and uses voice inflection appropriately)</label>
                  <%= choices3 "engaging", rubric.engaging %>
                </div>
                <div class="grouped fields">
                  <label>The speaker talks at a normal conversational pace (e.g., does not purposefully slow down).</label>
                  <%= choices3 "normalPace", rubric.normalPace %>
                </div>
                <div class="grouped fields">
                  <label>The speaker enunciates well.</label>
                  <%= choices3 "enunciation", rubric.enunciation %>
                </div>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                Which best describe the type of video
              </div>
              <div class="content">
                <div class="grouped fields">
                  <label>Problem video</label>
                  <%= choices4 "problem", rubric.problem %>
                </div>
                <div class="grouped fields">
                  <label>Lecture</label>
                  <%= choices4 "lecture", rubric.lecture %>
                </div>
                <div class="grouped fields">
                  <label>Review</label>
                  <%= choices4 "review", rubric.review %>
                </div>
                <div class="grouped fields">
                  <label>Explaining a Concept</label>
                  <%= choices4 "concept", rubric.concept %>
                </div>
                <div class="grouped fields">
                  <label>Supplementary</label>
                  <%= choices4 "supplementary", rubric.supplementary %>
                </div>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                The video...
              </div>
              <div class="content">
                <div class="grouped fields">
                  <label>has a document students can print out.</label>
                  <%= choices4 "print", rubric.print %>
                </div>
                <div class="grouped fields">
                  <label>requires the student to use external website.</label>
                  <%= choices4 "view", rubric.view %>
                </div>
                <div class="grouped fields">
                  <label>requires the student to use additional software.</label>
                  <%= choices4 "use", rubric.use%>
                </div>
              </div>

          <div class="title">
            <i class="dropdown icon"></i>
            Overall
          </div>
          <div class="content">
            <div class="grouped fields">
              <label>Overall this video should be...</label>
              <%= choices5 rubric.overall%>
            </div>
          </div>
            </div>



            <div class="ui center aligned container">
              <button form = "<%=rubric.author%>" style="margin: 20px 0 20px 0;color: white;" class="ui basic huge  submit blue button">Save <%=rubric.author%>'s Rubric</button>
            </div>
        </form>
    </div>

  <% end %>
<div class=" ui center aligned container" style="margin: 60px 0 60px 0">
  <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/videos/<%=@video.id%>"><button class="ui huge negative button">Delete Video</button></a>
</div>

  </div>

<div class="ui longer modal">
  <i class="close icon"></i>
  <div class="header">
    <%=session[:current_user_name]%>'s Review
  </div>
  <div class="content">

      <%#= form_for @video, url: {action: "pape"}, html: {class: "ui form"} do |f| %>

    <form action="/rubric/create/<%=@video.id %>" method="POST" class="ui form" style="margin:0" id="newReview">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <div class="ui accordion">
        <div class="title">
          <i class="dropdown icon"></i>
          Sound Quality
        </div>
        <div class="content">
          <div class="required grouped fields">
            <label>Speaker's voice is clear.</label>
            <%= choices(criteria: "voice") %>

          </div>
          <div class="grouped fields">
            <label>There is no background noise.</label>
            <%= choices(criteria: "noise") %>
          </div>
          <div class="grouped fields">
            <label>Speaker's voice volume is appropriate.</label>
            <%= choices(criteria:"volume")%>
          </div>
          <div class="grouped fields">
            <label>Any enhancements (i.e. music, special sounds) are clear and not distracting.</label>
            <%= choices(criteria:"enhacements") %>
          </div>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          Video Quality
        </div>
        <div class="content">
          <div class="grouped fields">
            <label>Overall video moves smoothly and seamlessly from shot to shot. (e.g., writing on a SmartSympodium is smooth and doesn't just appear in a chuck.  You see the writing develop over time.)</label>
            <%= choices(criteria:"overallSmooth")%>
          </div>
          <div class="grouped fields">
            <label>Any transitions that are used in the video are smooth and not distracting. (fade-in or fade-out is okay, transition from one video clip to next.)</label>
            <%= choices(criteria:"transition")%>
          </div>

          <div class="grouped fields">
            <label>The video is sharp, clear, and in focus.</label>
            <%= choices(criteria:"sharpFocus")%>
          </div>
          <div class="grouped fields">
            <label>Digital effects are used appropriately for emphasis.  (e.g., added features like special effects, graphics. enhace for engagement/entertainment.)</label>
            <%= choices(criteria:"effects")%>
          </div>
        </div>


        <div class="title">
          <i class="dropdown icon"></i>
          Cognitive Load
        </div>
        <div class="content">
          <div class="grouped fields">
            <label>Uses on-screen text or symbols to highlight important information. (e.g., change in color contrast highlighting information, arrow appears on screen to draw attention to region of screen.)</label>
            <%= choices(criteria:"symbol") %>
            <div class="grouped fields">
              <label>Extraneous information is minimized. (i.e., Information delivered via the video is synthesized and to the point. Instructor stays on topic and does not ramble on tangents not relelvant to the informaiton in the video. Music or other auditory/visual aspects have meaning and are not randomly inserted.)</label>
              <%= choices(criteria:"informationMinimized")%>
            </div>
            <div class="grouped fields">
              <label>Uses both auditory and visual channels to convey information. (e.g., while showing a picture or animation, the instructor also gives a verbal explanation of the visual.)</label>
              <%= choices(criteria:"conveyMessage")%>
            </div>
          </div>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          Content Quality
        </div>
        <div class="content">
          <div class="grouped fields">
            <label>Wording is accurate.</label>
            <%= choices(criteria:"wordingAccurate")%>
          </div>
          <div class="grouped fields">
            <label>Wording is appropriate. (e.g., doesn't contain slang, not offensive, professional.)</label>
            <%= choices(criteria:"wordingAppropriate")%>
          </div>
          <div class="grouped fields">
            <label>All the content in the video is accurate and contains no errors.</label>
            <%= choices(criteria:"contentAccurate")%>
          </div>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          Content Organization/Preparation
        </div>
        <div class="content">
          <div class="grouped fields">
            <label>Content is organized and flows well.</label>
            <%= choices(criteria:"contentOrganized")%>
          </div>
          <div class="grouped fields">
            <label>There are no irrelevant/extraneous references to any other content (i.e., other videos, textbook references, specific exercises, mention of upcoming assignments, etc.)</label>
            <%= choices(criteria: "contentRelevant")%>
          </div>
          <div class="grouped fields">
            <label>There is no sequencing/numbering in the video that would prevent the video from being resequenced within a set of videos.</label>
            <%= choices(criteria:"sequencing")%>
          </div>
          <div class="grouped fields">
            <label>The video does not reference any weblinks.</label>
            <%= choices(criteria:"weblinks")%>
          </div>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          Quality of Visuals
        </div>
        <div class="content">
          <div class="grouped fields">
            <label>All graphics, video, audio, 3-D, or other enhancements are used effectively to enrich the learning experience.</label>
            <%= choices(criteria:"graphicsEffective")%>
          </div>
          <div class="grouped fields">
            <label>Images/graphics are not distracting.</label>
            <%= choices(criteria:"graphicsDistraction")%>
          </div>
          <div class="grouped fields">
            <label>Images are high quality (e.g., resolution, ratio aspect, etc.)</label>
            <%= choices(criteria:"graphicsQuality")%>
          </div>
          <!--         <div class="grouped fields">-->
          <!--           <label>Colors used in images/graphics are appropriate.</label>-->
          <%#= choices(criteria:"graphicsAppropriate")%>
          <!--         </div>-->
          <div class="grouped fields">
            <label>Text size (typed, handwritten) is appropriate.</label>
            <%= choices(criteria:"textAppropriate")%>
          </div>
          <div class="grouped fields">
            <label>Text/font style is consistent. (This includes clean coversions to PDF)</label>
            <%= choices(criteria:"textConsistent")%>
          </div>
          <div class="grouped fields">
            <label>Amount of text on the slides is appropriate.</label>
            <%= choices(criteria:"textAmount")%>
          </div>
          <div class="grouped fields">
            <label>Background color is clean/consistent and not distracting.</label>
            <%= choices(criteria:"background")%>
          </div>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          Level of Engagement
        </div>
        <div class="content">
          <div class="grouped fields">
            <label>The video has interactive questions or features embedded that require the student to answer during the video.  (e.g., instructor asks a question and student pauses video to formulate answer to question.)</label>
            <%= choices(criteria:"interactive")%>
          </div>
          <div class="grouped fields">
            <label>The video allows students to control movement of the video (i.e., skip ahead, go to different chapter)</label>
            <%= choices(criteria:"studentControl")%>
          </div>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          Overall Presentation
        </div>
        <div class="content">
          <div class="grouped fields">
            <label>The presenter is shown (as a talking head) at some point during the video.</label>
            <%= choices(criteria:"shownPresenter")%>
          </div>
          <div class="grouped fields">
            <label>The video can be broken into videos less than 10 minutes in length.  (If video is already less than 10 minutes record N/A).  Please note the timestamps where the video can be cut when possible.</label>
            <%= choices(criteria:"videoLength")%>
          </div>
          <div class="grouped fields">
            <label>The presenter comes across as talking to the viewer and not a general audience.  (e.g., a video that is a recording of a "live" class lecture is not personal because the audience is an actual class)</label>
            <%= choices(criteria:"personal")%>
          </div>
          <div class="grouped fields">
            <label>The video contains some "moving" parts to it.  (i.e., it is not a slide presentation with a voice over). </label>
            <%= choices(criteria:"moving")%>
          </div>
          <div class="grouped fields">
            <label>The speaker is engaging and keeps the viewers attention (i.e., not monotone and uses voice inflection appropriately)</label>
            <%= choices(criteria:"engaging")%>
          </div>
          <div class="grouped fields">
            <label>The speaker talks at a normal conversational pace (e.g., does not purposefully slow down).</label>
            <%= choices(criteria:"normalPace")%>
          </div>
          <div class="grouped fields">
            <label>The speaker enunciates well.</label>
            <%= choices(criteria:"enunciation")%>
          </div>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          Which best describe the type of video
        </div>
        <div class="content">
          <div class="grouped fields">
            <label>Problem video</label>
            <%= choices2 "problem"%>
          </div>
          <div class="grouped fields">
            <label>Lecture</label>
            <%= choices2 "lecture"%>
          </div>
          <div class="grouped fields">
            <label>Review</label>
            <%= choices2"review"%>
          </div>
          <div class="grouped fields">
            <label>Explaining a Concept</label>
            <%= choices2 "concept" %>
          </div>
          <div class="grouped fields">
            <label>Supplementary</label>
            <%= choices2 "supplementary"%>
          </div>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          The video...
        </div>
        <div class="content">
          <div class="grouped fields">
            <label>has a document students can print out.</label>
            <%= choices2 "print"%>
          </div>
          <div class="grouped fields">
            <label>requires the student to use external website.</label>
            <%= choices2 "view"%>
          </div>
          <div class="grouped fields">
            <label>requires the student to use additional software.</label>
            <%= choices2 "use"%>
          </div>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          Overall
        </div>
        <div class="content">
          <div class="grouped fields">
            <label>Overall this video should be...</label>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" value="Used as is" name="rubric[overall]" tabindex="0" class="hidden">
                <label>Used as is</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" value="Used with revision" name="rubric[overall]" tabindex="0" class="hidden">
                <label> Used with revision</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" value="Not used" name="rubric[overall]" tabindex="0" class="hidden">
                <label>Not used</label>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class=" ui center aligned container">
        <button style="color: white; margin: 20px 0 20px 0" class="ui huge submit blue basic button">Create</button>
      </div>
    </form>
  </div>
</div>

  <%=render 'footer' %>
