<%= stylesheet_link_tag '/stylesheets/videos' %>
</head>
<body>
<%=render 'header' %>
<h2 class="ui center aligned icon header">
  <i class="edit outline circular icon"></i>
  <div class="content">
   Edit Video
    <div class="sub header">You can edit videos on this page</div>
  </div>
</h2>
<div class="ui text container">

  <form action="/videos" method="" class="ui form" style="margin:0">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <h4 class="ui dividing header">Video Information</h4>
    <div class=" two required fields">
      <div class="field">
        <label>Video Link</label>
        <input type="text" name="video[link]" value="<%=@video.link%>">
      </div>
      <div class="field">
        <label>Author/Presenter</label>
        <input type="text" name="video[presenter]" value="<%=@video.presenter%>">
      </div>
    </div>
    <div class=" field">
      <label id="cuts-label" data-cuts='<%=@video.cuts %>' >Video Needs to be cut at:</label>
      <select class="ui fluid search dropdown" id="cuts" multiple="" name = "video[cuts][]" multiple>
        <option value="">Cut Times will appear here</option>
      </select>
    </div>
    <div class="field">
      <label>Enter time here:</label>
      <span class="ui action input">
           <input type="text" placeholder="Search..." id="input-cut">
           <a class="ui green button" id="enter-cut">Enter</a>
         </span>
    </div>

    <h4 class="ui dividing header">Subject Information</h4>
    <div class="two required fields">
      <div class="field">
        <label f>Current Book Section</label>
        <input type="text" name="video[section]" value="<%=@video.section%>">
      </div>
      <div class="field">
        <label>Topic</label>
        <select class="ui search selection dropdown" name="video[topic]" value="topic">
          <option value="">Type Topic Name</option>
          <option value="Algebra" selected>Algebra</option>
          <option value="Calculus Analysis">Calculus Analysis</option>
        </select>
      </div>
    </div>
    <div class="field">
      <label id="courses-label" data-courses='<%=@video.courses %>'>Possible Course to use</label>
      <%= select("post", "courses", courses, {},{:id => 'courses', :multiple => true, :class => 'ui fluid search dropdown',:name => "video[courses][]"})%>
    </div>
    <div class="field">
      <label id="keywords-label" data-keywords='<%=@video.keywords %>'>Keywords</label>
      <%= select("post", "keywords", keywords, {},{:id => 'keywords', :multiple => true, :class => 'ui fluid search dropdown',:name => "video[keywords][]", :value => "oa"})%>
    </div>
    <h4 class="ui dividing header">Others</h4>

    <button style="color: white; margin: 20px 0 20px 0" class="ui big submit grey-bg button">Save</button>

  </form>

</div>
