<%= stylesheet_link_tag '/stylesheets/videos' %>
</head>

<body>
  <%=render 'videos/header' %>


  <div class="ui center aligned grid">
    <div class="row">
      <h2 class="ui icon header">
        <i class="edit outline circular icon"></i>
        <div class="content">
          Manage Keywords
          <div class="sub header">You can view add/edit/delete keywords on this page</div>
        </div>
      </h2>
    </div>
    <div class="center-role-form row" style="margin-top: -20px;">
      <div class="ui secondary vertical accordion menu">
        <div class="item">
          <a class="title">
            <button class="ui positive button" id="addKeyword">
              <i class="plus icon"></i>
              Add Keyword
            </button>
          </a>
          <div class="content">
            <form action="/keywords" method="POST" class="ui form" style="margin:0">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <div class="field">
                <input type="text" name="name" placeholder="Keyword">
              </div>
              <button class="ui basic blue button" type="submit">Add</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="ui container" style="margin: 30px 0 30px 0">
    <div class="ui top attached tabular tiny menu">
      <a class="active item" data-tab="A">A</a>
      <a class="item" data-tab="B">B</a>
      <a class="item" data-tab="C">C</a>
      <a class="item" data-tab=D>D</a>
      <a class="item" data-tab="E">E</a>
      <a class="item" data-tab="F">F</a>
      <a class="item" data-tab="G">G</a>
      <a class="item" data-tab="H">H</a>
      <a class="item" data-tab="I">I</a>
      <a class="item" data-tab="J">J</a>
      <a class="item" data-tab="K">K</a>
      <a class="item" data-tab="L">L</a>
      <a class="item" data-tab="M">M</a>
      <a class="item" data-tab="N">N</a>
      <a class="item" data-tab="O">O</a>
      <a class="item" data-tab="P">P</a>
      <a class="item" data-tab="Q">Q</a>
      <a class="item" data-tab="R">R</a>
      <a class="item" data-tab="S">S</a>
      <a class="item" data-tab="T">T</a>
      <a class="item" data-tab="U">U</a>
      <a class="item" data-tab="V">V</a>
      <a class="item" data-tab="W">W</a>
      <a class="item" data-tab="X">X</a>
      <a class="item" data-tab="Y">Y</a>
      <a class="item" data-tab="Z">Z</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="A">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_a(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="B">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_b(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="C">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_c(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="D">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_d(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="E">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_e(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="F">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_f(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="G">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_g(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="H">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_h(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="I">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_i(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="J">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_j(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="K">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_k(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="L">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_l(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="M">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_m(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="N">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_n(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="O">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_o(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="P">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_p(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="Q">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_q(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="R">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_r(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="S">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_s(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="T">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_t(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="U">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_u(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="V">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_v(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="W">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_w(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="X">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_x(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="Y">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_y(keyword) %>
        <% end %>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="Z">
      <div class="ui list">
        <% keywords.each do |keyword| %>
        <%=keyword_z(keyword) %>
        <% end %>
      </div>
    </div>
  </div>